h4{
    color: red;
    text-align: center;
}
/*
body{
    background-image: url(../assets/2.jpg);
    background-repeat: no-repeat;
    
}
*/
.flag{
    width: 400px;
    height: 300px;
    background-image: url(../assets/6.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
}
.xx{
    width: 400px;
    height: 300px;
    background: #fff000 url('../assets/5.png') no-repeat top center /
        200px auto;
}
.xx2{
    /*border-width: 5px;
    border-style: solid;
    border-color: #ff0000;
    border-radius: 10px;
    /*
    border: 5px dotted #ff0000;
    border-radius: 10px;*/
    border-width: 10px 20px 30px 40px;
    
    /*up right down left*/
    
    border-style: dotted solid dashed ridge;
    border-color: #ff0000 #ffff00 #333 green;
    
}
/*body{
    margin: 0;
}*/
.xx3{
    width: 50%;
    height: 300px;
    background: #333;
    /*up right down left*/
    /*up-bottom right-left*/
    margin: 50px 100px;
    /*auto works for left and right*/
    margin: auto;
       
}


.xx4{
    width: 300px;
    height: 300px;
    background: red;
    /*up right down left*/
    padding: 50px 50px 50px 50px;
}
p{
    margin: 50px;
    border: 1px solid #333;
    /*outline-width: 5px;
    outline-style: solid;
    outline-color: red;
    outline-offset: 20px;*/
    outline: 3px solid green;
    outline-offset: 20px;
}
.text{
    text-align: center;
    color: lime;
    text-transform:uppercase;
    text-indent: 50px;
    letter-spacing: 5px;
    font-size: 20px;
    line-height: 2;
    word-spacing: 30px;
    text-shadow: 2px 2px red;
}
a{
    text-decoration: none;
}
.fonts{
    font-family: Agency FB;
    font-size: 3em;
    font-style: italic;
    font-weight: 700;
    font-variant: small-caps;
}
.link a{
    color: #fff;
    font-family: tahoma;
    padding: 10px 20px;
    font-size: 30px;
}
.link a:link{
    text-decoration: none;
    background: #333;
}
.link a:visited{
    background: red;
    color: yellow;
}
.link a:hover{
    background: yellow;
    color: red;
}
.link a:active{
    background: green;
    color: #333;
}
.list ul{
    /*list-style-type: upper-roman;*/
    list-style-image: url('../assets/ok.png');
}
.table table,td,th{
    border: 1px solid #ddd;
    text-align: left;
}
.table table{ 
    width: 100%;
    border-collapse: collapse;
}
.table th,td{
    padding: 15px;
}
.display h2{
    text-align: center;
    display: inline-block;
}
.display span{
    text-align: center;
}

.display ul li{
    display: inline;
}
























































