h4{
    color: red;
    text-align: center;
}
/*
body{
    background-image: url(../assets/2.jpg);
    background-repeat: no-repeat;
    
}
*/
.flag{
    width: 400px;
    height: 300px;
    background-image: url(../assets/6.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
}
.xx{
    width: 400px;
    height: 300px;
    background: #fff000 url('../assets/5.png') no-repeat top center /
        200px auto;
}
.xx2{
    /*border-width: 5px;
    border-style: solid;
    border-color: #ff0000;
    border-radius: 10px;
    /*
    border: 5px dotted #ff0000;
    border-radius: 10px;*/
    border-width: 10px 20px 30px 40px;
    
    /*up right down left*/
    
    border-style: dotted solid dashed ridge;
    border-color: #ff0000 #ffff00 #333 green;
    
}
/*body{
    margin: 0;
}*/
.xx3{
    width: 50%;
    height: 300px;
    background: #333;
    /*up right down left*/
    /*up-bottom right-left*/
    margin: 50px 100px;
    /*auto works for left and right*/
    margin: auto;
       
}


.xx4{
    width: 300px;
    height: 300px;
    background: red;
    /*up right down left*/
    padding: 50px 50px 50px 50px;
}
p{
    margin: 50px;
    border: 1px solid #333;
    /*outline-width: 5px;
    outline-style: solid;
    outline-color: red;
    outline-offset: 20px;*/
    outline: 3px solid green;
    outline-offset: 20px;
}
.text{
    text-align: center;
    color: lime;
    text-transform:uppercase;
    text-indent: 50px;
    letter-spacing: 5px;
    font-size: 20px;
    line-height: 2;
    word-spacing: 30px;
    text-shadow: 2px 2px red;
}
a{
    text-decoration: none;
}
.fonts{
    font-family: Agency FB;
    font-size: 3em;
    font-style: italic;
    font-weight: 700;
    font-variant: small-caps;
}
.link a{
    color: #fff;
    font-family: tahoma;
    padding: 10px 20px;
    font-size: 30px;
}
.link a:link{
    text-decoration: none;
    background: #333;
}
.link a:visited{
    background: red;
    color: yellow;
}
.link a:hover{
    background: yellow;
    color: red;
}
.link a:active{
    background: green;
    color: #333;
}
.list ul{
    /*list-style-type: upper-roman;*/
    list-style-image: url('../assets/ok.png');
}
.table table,td,th{
    border: 1px solid #ddd;
    text-align: left;
}
.table table{ 
    width: 100%;
    border-collapse: collapse;
}
.table th,td{
    padding: 15px;
}
.display h2{
    text-align: center;
    display: inline-block;
}
.display span{
    text-align: center;
}

.display ul li{
    display: inline;
}
.max_width1{
    border: 3px solid #000;
    width: 400px;
    margin: auto;
}
.max_width2{
    border: 3px solid #000;
    max-width: 400px;
    margin: auto;
}
.green-box{
    width: 600px;
    height: 350px;
    background: green;
    /*position: absolute;*/
    /*top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;*/
    position: relative;
}
.red-box{
    width: 180px;
    height: 180px;
    background: red;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
}
.xx5{
    border: 3px solid red;
    padding: 5px;
    margin-top: 10px;
    background: red;
    position: sticky;
    top: 0;
}
.position{
/*    padding-bottom: 1000px;*/
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 2px solid red;
}
.overflow{
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    overflow: scroll;
}
.float img{
    width: 200px;
    float: left;
}
.float p{
    clear: left;
}
.box{
    height: 200px;
    background: #333;
    width: 25%;
    float: left;
}
.box1{
    background: red;
}
.box2{
    background: lime;
}
.box3{
    background: yellow;
}
.box4{
    background: green;
}
.inline_block span.part1{
    width: 100px;
    height: 100px;
    display: inline;
    background: yellow;
    border: 2px solid #000;
    padding: 5px;
}
.inline_block span.part2{
    width: 100px;
    height: 100px;
    display: inline-block;
    background: yellow;
    border: 2px solid #000;
    padding: 5px;
}
.inline_block span.part3{
    width: 100px;
    height: 100px;
    display: block;
    background: yellow;
    border: 2px solid #000;
    padding: 5px;
}
.menu{
    background: yellow;
}
.menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu ul li{
    display: inline-block;
    padding: 10px 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #333;
}
/*pseudo-classs*/
.menu ul li:hover{
    background: #333;
}
.menu ul li:hover a{
    color: #fff;
}
.container p{
    background-color: yellow;
}/*
.container > p{
    background-color: yellow;
}
.container + p{
    background-color: yellow;
}
.container ~ p{
    background-color: yellow;
}
*/
.opacity{
    width: auto;
    height: auto;
    background: url('../assets/star.png') no-repeat center / cover;
    
    overflow: hidden;
}
.opacity p{
    text-align: center;
    background: #fff;
    padding: 30px;
    opacity: 0.6;
    margin-top: 100px;
}
.dropdown_nav ul{
    margin: 0;
    padding: 0;
    background: #333;
    overflow: hidden;
}
.dropdown_nav ul li{
    float: left;
    list-style-type: none;
}

.dropdown_nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 16px;
    display: inline-block;
}
.dropdown_nav ul li a:hover{
    background: red;
}
.dropdown-content a{
    height: auto;
    width: auto;
    display: block;
    background: red;
    display: none;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.sprite_icons{
    overflow: hidden;
}
.sprite_icons ul{
    margin: 0;
    padding: 0;
}
.sprite_icons ul li{
    float: left;
    list-style-type: none;
    margin-right: 10px;
}
.sprite_icons ul li:last-child{
    margin-right: 0;
}
.sprite_icons ul li a{
    background-image: url('../assets/sprite_icon.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 84px;
    height: 84px;
    display: inline-block;
    border: 2px solid #777;
    border-radius: 50%;
    transition: 1s;
}
.sprite_icons ul li:hover:nth-child(1) a{
    background-position: 0 -84px;
}
.sprite_icons ul li:nth-child(2) a{
    background-position: -840px 0;
}
.sprite_icons ul li:hover:nth-child(2) a{
    background-position: -840px; -84px;
}
.sprite_icons ul li:nth-child(3) a{
    background-position: -336px 0;
}

.sprite_icons ul li:hover:nth-child(3) a{
    background-position: -336px; -84px;
}


















































































































































































































































































